NODE_ENV=development
#DATABASE=mongodb://seawise:seawise123@ds151602.mlab.com:51602/seawise
DATABASE=mongodb://127.0.0.1:27017/seawise
PORT=5001
SECRET=yoursecrectpleaseenterhere
CLOUD_BUCKET=seawise-local-invoices
GCLOUD_PROJECT=mytaplo-209902
KEY=yourkeypleaseenterhere
AUTH_SECRET=manishpal
SCRAPER_URL=http://localhost:3005
GOOGLE_APPLICATION_CREDENTIALS=/Users/manishpal/Downloads/mytaplo-vision-key.json
MAIL_API_KEY=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
MAIL_SECRET=6b3b66d361120516b91e02d565db3e0a
ADMIN_NOTIFICATION_EMAIL=samaksh.gupta@live.com
BASE_URL=http://localhost:5001
REVOLUT_REFRESH_TOKEN=''
REVOLUT_CLIENT_ID=''
ASSERTION=''
