<div class = "col-12 p-0 m-0">
    <form method="POST" action="/dashboard/answersbydate" class = "col-12 m-0 p-0 mb-5">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 px-0 mx-auto mb-5">
            <div class = "my-5 pt-5">

                <input type = 'hidden' name='admin_token' id = 'admin_token' value/>

            </div>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>


            <button type="submit" id='submit-btn' class="btn primary-submit-btn d-block mx-auto mt-3 mb-5">Answers By Date</button>

            <br/>
            <br/>
            <br/>
            <!--
            <a href = "/dashboard/answersbydate" class="btn col-6 primary-submit-btn d-block mx-auto mt-3 mb-5">Answers By Date</a>
            -->
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

        </div>
    </form>

</div>

