<div class = "col-12 p-0 m-0">
    <form method="POST" action="/user/checkemail" class = "col-12 m-0 p-0 mb-5">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 px-0 mx-auto mb-5">
            <div class = "my-5 pt-5">

                <div class="col-8 col-lg-12 mx-auto center-align mt-5">
                    <div class="form-group bmd-form-group">
                    <label for="name" class="bmd-label-floating white">Please Enter your Email </label>
                    <input type="email" class="form-control border-white white" id="email" name="email" autocomplete="off" required style="cursor: auto;">
                    </div>
                </div>

            </div>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

            <button type="submit" id='submit-btn' class="btn primary-submit-btn d-block mx-auto mt-3 mb-5">Submit</button>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

        </div>
    </form>

</div>

