<a href="/">
    <img src="/img/icon-home.png" class ="mt-3 ml-5">
</a>

<div class = "col-10 mx-auto d-flex flex-wrap justify-content-around">
    <h2 class = "col-md-7 col-lg-7 col-xl-7 col-sm-10 text-center mx-auto white mt-5"><strong>Frequently Asked Questions (FAQs)</strong></h2>

         <div class = "col-md-7 col-lg-7 col-xl-7 col-sm-10 mx-auto white mt-5 pr-4">
                <h6 class = "text-left mb-3"><strong> How long is this experience? </strong> </h6>
                <p class = "text-left">

                    There are 60 questions in total, you will be asked a question every two days, so your experience will end 120 days from
                    the day you start.

                </p>
        </div>

        <div class = "col-md-7 col-lg-7 col-xl-7 col-sm-10 mx-auto white mt-5 pr-4">
                <h6 class = "text-left mb-3"><strong> The experiment ends on the 31st of March, so till when can I sign up? </strong> </h6>
                <p class = "text-left">

                    We don’t want to deprive anyone of this experience, so you can sign up as late as on the 30th of March if you want to,
                    but that just means you will only have the ability to answer one question.
                    <br/>
                    The sooner you sign up, the more questions you can answer!

                </p>
        </div>

        <div class = "col-md-7 col-lg-7 col-xl-7 col-sm-10 mx-auto white mt-5 pr-4">
                <h6 class = "text-left mb-3"><strong> Do I have to answer all the questions? </strong> </h6>
                <p class = "text-left">

                    No, you don’t — you can answer as many questions as you want to. But, once you miss a question, you cannot go back
                    and answer it.
                    <br/>
                    Moreover, you cannot skip questions, if you do not wish to answer a question, you can leave it and come back in two days to see
                    your new question.

                </p>
        </div>

         <div class = "col-md-7 col-lg-7 col-xl-7 col-sm-10 mx-auto white mt-5 pr-4">
                <h6 class = "text-left mb-3"><strong> Can I change my answers after I have submitted them? </strong> </h6>
                <p class = "text-left">

                    No, you cannot. Once you have answered a question and submitted it, it gets stored and cannot be edited. The idea
                    behind this is, that we want to capture the emotions and feelings you were having in the moment of reading the question,
                    and by allowing editing that experience is lost.

                </p>
        </div>

        <div class = "col-md-7 col-lg-7 col-xl-7 col-sm-10 mx-auto white mt-5 pr-4">
                <h6 class = "text-left mb-3"><strong> Who all can access my data?  </strong> </h6>
                <p class = "text-left">

                    Only the team (3 members) that put this together have access to your answers. The way we will access your data will be
                    after anonymising your email IDs i.e. — we can see the answers but we will not match it with the respective emails.
                    <br/>
                    Please take a look at our <a class = "privacy" target = "_blank" href = "https://docs.google.com/document/d/1fxytWVoFI2vV7UlpXskFuDSZtCwNDX-zyqpqhPrsedQ/edit">Privacy Policy</a> for further details.

                </p>
        </div>

        <div class = "col-md-7 col-lg-7 col-xl-7 col-sm-10 mx-auto white mt-5 pr-4">
                <h6 class = "text-left mb-3"><strong> I signed up to This Day 2020, but I’m not receiving any questions, what’s happened? </strong> </h6>
                <p class = "text-left">

                    Some emails might end up in your ‘spam’ or ‘promotions’ folders of your inbox. Check there, and make sure you mark it
                    as not spam or promotion, so the following emails can be redirected to your inbox.

                </p>
        </div>

        <div class = "col-md-7 col-lg-7 col-xl-7 col-sm-10 mx-auto white mt-5 pr-4">
                <h6 class = "text-left mb-3"><strong> Can I access my information before when I choose to on the website? </strong> </h6>
                <p class = "text-left">

                    Since we’re still building many parts of the backend, we’re not yet sure how to answer this one, but write to us at
                    <span class = "underline">thisdaytwenty20@gmail.com</span> and we’d be happy to figure out a solution!

                </p>
        </div>

        <div class = "col-md-7 col-lg-7 col-xl-7 col-sm-10 mx-auto white mt-5 pr-4">
                <h6 class = "text-left mb-3"><strong> Is there an age limit to participate in This Day 2020? </strong> </h6>
                <p class = "text-left">

                    Absolutely not! We’d love to have people across the world of all ages to participate, so please sign up and begin!

                </p>
        </div>

        <div class = "col-md-7 col-lg-7 col-xl-7 col-sm-10 mx-auto white my-5 pr-4">
                <p class = "text-left mt-5">
                    Have more questions, or thoughts and suggestions? Write to us at <span class = "underline">thisdaytwenty20@gmail.com</span>
                </p>
        </div>
</div>

