<div class = "col-12 p-0 m-0">
    <a href="/">
        <img src="/img/icon-home.png" class ="mt-3 ml-5">
    </a>
    <div class = "white col-4 mx-auto mt-1 text-center">
        <h4><strong>Sign Up &amp; Get Started!</strong></h4>
    </div>
    <form method="POST" action="/user/create" class = "col-12 m-0 p-0">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-10 px-0 mx-auto">
            <div class = "pt-3">

                <div class="col-md-12 col-lg-12 col-xl-12 col-10 mx-auto center-align">
                    <div class="form-group bmd-form-group mt-3 pt-5">
                    <label for="name" class="bmd-label-floating white">Email </label>
                    <input type="email" class="form-control border-white white" id="email" name="email" autocomplete="off" required style="cursor: auto;">
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-xl-12 col-10 mx-auto center-align">
                    <div class="form-group bmd-form-group mt-3 pt-5">
                    <label for="name" class="bmd-label-floating white">City/State </label>
                    <input type="text" class="form-control border-white white" id="city" name="city" autocomplete="off" required style="cursor: auto;" required pattern="\S+.*">
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-xl-12 col-10 mx-auto center-align">
                    <div class="form-group bmd-form-group mt-3 pt-5">
                    <label for="name" class="bmd-label select-label border-fix white" >Country </label>
                    <select class="custom-select border-white white mt-4 pl-2" name="country" required id="country">
                        <option value="">Choose</option>
                        {{#each countries}}
                            <option class = "blackbg" value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-xl-12 col-10 mx-auto center-align">
                    <div class="form-group bmd-form-group mt-3 pt-5">
                    <label for="name" class="bmd-label select-label border-fix white">Gender </label>
                    <select class="custom-select border-white white mt-4 pl-2" name="gender" id="gender" required>
                        <option class = "blackbg" value="Choose"></option>
                        <option class = "blackbg" value="male">Male</option>
                        <option class = "blackbg" value="female">Female</option>
                        <option class = "blackbg" value="other">Other</option>
		            </select>

                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-xl-12 col-10 mx-auto center-align">
                    <div class="form-group bmd-form-group mt-3 pt-5">
                    <label for="name" class="bmd-label-floating white">Age </label>
                    <input type="number" class="form-control border-white white" id="age" name="age" autocomplete="off" required style="cursor: auto;" required pattern="\S+.*">
                    </div>
                </div>

                <input type="hidden" name="token" id="token" value = {{token}}>

                <div class="col-md-12 col-lg-12 col-xl-12 col-10 mx-auto center-align">
                    <div class="form-group bmd-form-group mt-3 pt-5">
                    <label for="name" class="bmd-label answers select-label border-fix white">When would you like to access your answers? </label>
                    <select class="custom-select border-white white mt-1 pl-2" name="time" id="time" required>
		                	<option class = "blackbg"  value="Choose"></option>
                            <option class = "blackbg"  value="6 Months">6 Months</option>
                            <option class = "blackbg"  value="1 Year">1 Year</option>
                            <option class = "blackbg"  value="1.5 Years">1 Year 6 Months</option>
                            <option class = "blackbg"  value="2 Years">2 Years</option>
                            <option class = "blackbg"  value="2 Years">3 Years</option>
		            </select>

                    </div>
                </div>
            </div>

            <br/>
            <br/>

            <button type="submit" id='submit-btn' class="btn primary-submit-btn d-block mx-auto mt-3 mb-5">Submit</button>
        </div>
    </form>

</div>

