<div class = "col-12 p-0 m-0">
    <a href="/">
        <img src="/img/icon-home.png" class ="mt-3 ml-5">
    </a>
    {{#if half}}
    <div class="alert alert-info col-6 mx-auto text-center" role="alert">You are at the halfway point! Only 30 more questions to go </div>
    {{/if}}
    {{#if last_ten}}
    <div class="alert alert-info col-6 mx-auto text-center" role="alert">Well Done. You are almost at the end, keep going! </div>
    {{/if}}
    {{#if last}}
    <div class="alert alert-info col-6 mx-auto text-center" role="alert">This is your last question! Write something worth remembering! </div>
    {{/if}}
    <form method="POST" action="/user/answer" class = "col-12 m-0 p-0 mb-5">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 px-0 mx-auto mb-5">
            <div class = "mb-5">

                <div class="col-12 center-align my-5">
                    <div class="white text-center">
                    <label for="name" class="font-24"> {{question}} </label>
                    </div>
                </div>

                <div class="col-12 center-align mb-5">
                    <div class="white mt-3 pt-1 mx-auto">
                    <label for="name" class="text-center col-12"> Answer here </label>
                    <!--<input type="text" class="form-control border-white white" id="answer" name="answer" autocomplete="off" style="cursor: auto;" required pattern="\S+.*">
                    <br/>-->
                    <textarea class = "textarea py-3 white" name="answer" rows="10" cols="50" wrap="soft"></textarea>
                    </div>
                </div>

                <input type="hidden" name="question" id="question" value='{{question}}'>
                <input type="hidden" name="user_id" id="user_id" value='{{user_id}}'>

            </div>

            <br/>

            <button type="submit" id='submit-btn' class="btn primary-submit-btn d-block mx-auto mt-3 mb-5">Submit</button>
        </div>
    </form>

    <br/>

</div>

