<div class="row">
	<div class="col-md-8 mx-auto mt-5">
		<div class="bgc-white bd bdrs-3 p-20 mB-20">
			<h3 class="c-grey-900 mB-20 white">{{length}} User List</h3>

			<div id="dataTable_wrapper" class="dataTable_wrapper">
						<table id="dataTable" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
							<thead>
								<tr role="row">
								<th class="sorting_desc white" aria-sort="descending" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 198px;">Email</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th class="sorting_desc white" aria-sort="descending" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 198px;">Email</th>
								</tr>
							</tfoot>

							<tbody>
								{{#each user}}
								<tr>
									<td>
                                        <a class = "white" href = "/dashboard/user/show/{{id}}">{{email}}</a>
                                    </td>
								</tr>
								{{/each}}
							</tbody>
						</table>
			</div>
		</div>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
	</div>
</div>
