<div class="modal fade" id="ajaxModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ajaxModalTitle"> {{title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ajax-modal-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default navbar-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>