<div class="col-md-11 mx-auto mt-2 text-center global-message">

	<div class="alert-success p-2 pr-5 mr-5 {{#unless globalMessage}}d-none{{/unless}}" role="alert">{{globalMessage}}</div>
    <div class="alert-danger p-2 pr-5 mr-5 {{#unless globalMessageRed}}d-none{{/unless}}" role="alert">{{globalMessageRed}}</div>
</div>